<h1><%= @student.to_s %></h1>
<p>This student is currently <% if !@student.active %>inactive. <% else %>active. <% end %></p>
<%= link_to "Activate or Deactivate Student", activate_student_path(@student) %>